<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738486221187-36p0lcp23b72ssrobp7o26nb4aerjb5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738486221187-36p0lcp23b72ssrobp7o26nb4aerjb5o</string>
	<key>API_KEY</key>
	<string>AIzaSyBRJkhTyBduPNMKqsD47TVlFnQF0kphvVc</string>
	<key>GCM_SENDER_ID</key>
	<string>738486221187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emilykcorso.BoxingScheduler</string>
	<key>PROJECT_ID</key>
	<string>boxing-scheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>boxing-scheduler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:738486221187:ios:4d9c5071aad775d79f9eb6</string>
</dict>
</plist>
